run = "yarn install && node ./simple-server.js"
hidden = [".config", "package-lock.json", "node_modules", ".expo"]
modules = ["nodejs-20:v8-20230920-bd784b9"]

[nix]
channel = "stable-24_05"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"
EXPO_PUBLIC_SUPABASE_URL = "https://yqgssgqzlflqwuahtxbk.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlxZ3NzZ3F6bGZscXd1YWh0eGJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzgwMzY4NDUsImV4cCI6MjA1MzYxMjg0NX0.ZBD5Oy1WwdqFIfl8Kgt1nkE2bYOVTYrpFj-WcOEqrYY"

[packager]
language = "nodejs"
  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = false

[languages]
  [languages.javascript]
  pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
    [languages.javascript.languageServer]
    start = "typescript-language-server --stdio"

[deployment]
build = ["sh", "-c", "yarn install"]
run = ["sh", "-c", "node ./simple-server.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 19006
externalPort = 3000
